@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --TextColor: #312044;
  --Purple1: #9c669b;
  --Purple2: #958295;
  --Purple3: #eadfdd;
  --gray: #7c746c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./img/bg02.r.jpg) center/cover fixed;
}
.frame {
  width: 350px;
  height: 450px;
  background: transparent;
  backdrop-filter: blur(25px);
  border: 1px solid var(--Purple2);
  border-radius: 50px;
  box-shadow: inset 0 0 20px var(--Purple1);
  color: var(--TextColor);
  padding: 10px 40px;
}

.frame:hover {
  box-shadow: inset 0 0 20px var(--Purple1), 0 0 20px var(--Purple1);
}
.frame .photo {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.photo i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Purple2);
  color: var(--Purple2);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--Purple2);
  font-size: 70px;
  padding: 15px;
  transition: 1s;
}

.photo i:hover {
  border: 1px solid var(--TextColor);
  color: var(--TextColor);
  box-shadow: 0 0 20px var(--TextColor);
}

.frame .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}
.frame .input-box input {
  width: 100%;
  height: 50px;
  background: var(--Purple3);
  color: var(--TextColor);
  outline: none;
  border: 1px solid var(--TextColor);
  padding: 0 15px 0 50px;
}

.input-box input::placeholder {
  color: var(--TextColor);
  font-size: 14px;
  font-weight: 600;
}

.input-box i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 23px;
}
.frame .rember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin: 25px 0;
}

.rember label input {
  accent-color: var(--Purple1);
  text-decoration: none;
  outline: none;
}

.rember a {
  color: var(--TextColor);
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  text-decoration: none;
}

.rember a:hover {
  font-size: 13.5px;
  font-weight: 500;
  text-decoration: underline;
}

.frame .btn {
  width: 100%;
  height: 45px;
  background-color: var(--Purple3);
  color: var(--TextColor);
  border: 1px solid var(--TextColor);
  border-radius: 9px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--Purple1);
  color: var(--Purple3);
  border: none;
}

@media screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
  .frame {
    width: 290px;
    padding: 10px 40px;
  }
}
